Temp/
Library/

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Library/assetDatabase3
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/6d/6dca57744d67db048af1848cd4f6b43f
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll